In [1]:
pip install pymongo

Collecting pymongo
  Using cached pymongo-4.13.2-cp312-cp312-win_amd64.whl.metadata (22 kB)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\anaconda\lib\site-packages (from pymongo) (2.7.0)
Using cached pymongo-4.13.2-cp312-cp312-win_amd64.whl (903 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.13.2
Note: you may need to restart the kernel to use updated packages.

In [29]:
import os
import pandas as pd
pd.set_option("display.max_column", None)
from pymongo import MongoClient

mongo_url = "mongodb://padma:d6g5h1dh18dh1d6h81fd86d1UBFIfguifd@3.146.176.180:27017/talentsync-backend-production"
client = MongoClient(mongo_url)
print("Python-MongoDB connection created succesfully -\n", client)

Python-MongoDB connection created succesfully -
 MongoClient(host=['3.146.176.180:27017'], document_class=dict, tz_aware=False, connect=True)

In [ ]:
output_dir = "production_data/raw_data_dump"
os.makedirs(output_dir, exist_ok=True)
print("Folder created succesfully")

Folder created succesfully

In [5]:
db = client['talentsync-backend-production']
collection_names = db.list_collection_names()
print(collection_names)

['candidate_questions', 'job_hr_questions', 'candidates', 'auth_keys', 'jobs', 'job_hr_settings', 'batches', 'questions', 'candidates_errors', 'users', 'companies', 'messages', 'auth_tokens']

In [6]:
for coll_name in collection_names:
    collection = db[coll_name]
    documents = list(collection.find({}))
    
    df = pd.json_normalize(documents)
    
    output_path = os.path.join(output_dir, f"{coll_name}.csv")
    df.to_csv(output_path, index=False)
    print(f"Dumped: {output_path}")

print("\nAll collections dumped successfully!")

Dumped: production_data/raw_data_dump\candidate_questions.csv
Dumped: production_data/raw_data_dump\job_hr_questions.csv
Dumped: production_data/raw_data_dump\candidates.csv
Dumped: production_data/raw_data_dump\auth_keys.csv
Dumped: production_data/raw_data_dump\jobs.csv
Dumped: production_data/raw_data_dump\job_hr_settings.csv
Dumped: production_data/raw_data_dump\batches.csv
Dumped: production_data/raw_data_dump\questions.csv
Dumped: production_data/raw_data_dump\candidates_errors.csv
Dumped: production_data/raw_data_dump\users.csv
Dumped: production_data/raw_data_dump\companies.csv
Dumped: production_data/raw_data_dump\messages.csv
Dumped: production_data/raw_data_dump\auth_tokens.csv

All collections dumped successfully!

In [25]:
# df_auth_keys = pd.read_csv("production_data/raw_data_dump/auth_keys.csv")
# df_auth_keys.head()

In [10]:
# df_auth_tokens = pd.read_csv("production_data/raw_data_dump/auth_tokens.csv")
# df_auth_tokens.head()

In [41]:
df_batches = pd.read_csv("production_data/raw_data_dump/batches.csv")
df_batches.head()

,_id,uploaded_by,company_id,batch_id,batch_name,upload_count,job_id,status,start_time,end_time,type
0,6822eb6f6342bdaa117239be,6822e2f56342bdaa117239b8,6822e3346342bdaa117239ba,b'm\x18]v\xf2>Rv\x867C\x03\xf9I\xb7\xa8',Batch - SIS 1,10.0,6822eaf56342bdaa117239bd,completed,2025-05-13 06:49:19.226,2025-05-13 06:52:00.161,NaN
1,6822f3e46342bdaa117239c7,6822e2f56342bdaa117239b8,6822e3346342bdaa117239ba,b'\xc9\xe1\x1e\x13W\x95Ud\x89\x00\xdf\xd2\x01\...,Batch - 2,1.0,6822eaf56342bdaa117239bd,completed,2025-05-13 07:25:24.299,2025-05-13 07:25:43.542,NaN
2,6822f5d26342bdaa117239ca,6822e2f56342bdaa117239b8,6822e3346342bdaa117239ba,b'Wy\xb4\x07\xf3\x0fX.\xa6x\xd2\r\x98\xd5\x1e\...,batch - emily pdf,1.0,6822eaf56342bdaa117239bd,completed,2025-05-13 07:33:38.953,2025-05-13 07:33:55.368,NaN
3,6822f6896342bdaa117239cb,6822e2f56342bdaa117239b8,6822e3346342bdaa117239ba,b'.\x95\xe2\x8f(W^\xd6\xb7dM\xd3bs\x04\xd2',batch - hr,180.0,6822eaf56342bdaa117239bd,completed,2025-05-13 07:36:41.261,2025-05-13 07:40:23.431,NaN
4,682361636342bdaa11723a48,6818f9601ec8f4553059c40e,681c861b1cf44d32fe03095e,b'u\x9f\xae\x00HTQa\xb0\\\t\xba\x114\xaf\x0b',resume_product,5.0,68235fcc6342bdaa11723a47,completed,2025-05-13 15:12:35.065,2025-05-13 15:13:38.058,NaN

In [12]:
df_candidate_questions = pd.read_csv("production_data/raw_data_dump/candidate_questions.csv")
df_candidate_questions.head()

,_id,candidate_id,questions,created_at,updated_at
0,6821f0a86342bdaa1172396c,6821f0883d9e6a1581409215,['Given your extensive experience in human res...,2025-05-12 12:58:58.355,2025-05-12 12:58:58.355
1,6821f0a86342bdaa1172396d,6821f0883d9e6a1581409216,['Can you describe any experience you have wit...,2025-05-12 12:59:04.359,2025-05-12 12:59:04.359
2,6821f0a86342bdaa1172396e,6821f0883d9e6a1581409217,['Given your extensive experience in human res...,2025-05-12 12:59:10.203,2025-05-12 12:59:10.203
3,6821f0a86342bdaa1172396f,6821f0883d9e6a1581409218,['Can you describe a project where you had to ...,2025-05-12 12:59:15.161,2025-05-12 12:59:15.161
4,6821f0a86342bdaa11723970,6821f0883d9e6a1581409219,['Can you describe a project where you utilize...,2025-05-12 12:59:20.035,2025-05-12 12:59:20.035

In [28]:
# df_candidates_errors = pd.read_csv("production_data/raw_data_dump/candidates_errors.csv")
# df_candidates_errors.head(2)

In [30]:
df_candidates = pd.read_csv("production_data/raw_data_dump/candidates.csv")
df_candidates.head()

,_id,created_at,updated_at,company_id,job_id,name,email,phone_no,status,type,secondary_email,primary_phone,secondary_phone,cv_directory_link,unique_id,designation,location,education,work_experience,total_experience,technical_skills,soft_skills,languages,certifications,projects,batch_id,personal_details.date_of_birth,personal_details.age,personal_details.gender,social_profiles.github,social_profiles.linkedin,social_profiles.twitter,social_profiles.leetcode,social_profiles.others,metadata.pages,metadata.file_size_kb,metadata.file_type,metadata.word_count,metadata.personal_pronoun_count,metadata.reading_level,metadata.vocabulary_level,metadata.frequent_words,compatibility_analysis.overall_score,compatibility_analysis.analysis.strengths,compatibility_analysis.analysis.gaps,compatibility_analysis.analysis.matching_points,compatibility_analysis.analysis.improvement_areas,compatibility_analysis.detailed_scoring.skills_match,compatibility_analysis.detailed_scoring.experience_relevance,compatibility_analysis.detailed_scoring.education_fit,compatibility_analysis.detailed_scoring.overall_potential,ats_analysis.ats_score,ats_analysis.skills_summary.measurable_achievements,ats_analysis.skills_summary.hard_skills,ats_analysis.skills_summary.soft_skills,ats_analysis.skills_summary.skills_efficiency_score,ats_analysis.red_flags,ats_analysis.recommendations,progress.round_1,progress.round_2
0,682207656342bdaa11723988,2025-05-12 14:36:21.192,2025-05-12 14:36:21.192,682200936342bdaa1172397a,6822017e6342bdaa1172397d,Supriya Ricard,supriya+1@klizos.com,NaN,new,general,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,682207f36342bdaa11723989,2025-05-12 14:38:43.661,2025-05-12 14:38:43.661,682200936342bdaa1172397a,6822017e6342bdaa1172397d,Sourav Rooj,Sourav.rooj@klizos.com,NaN,new,general,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,68220d606342bdaa1172398a,2025-05-12 15:01:52.513,2025-05-12 15:01:52.513,682200936342bdaa1172397a,6822017e6342bdaa1172397d,Supriya Patra,supriya@klizos.com,NaN,new,general,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,68220f3b6342bdaa1172398b,2025-05-12 15:09:47.500,2025-05-12 15:09:47.500,682200936342bdaa1172397a,6822017e6342bdaa1172397d,John Smith,john@klizos.com,NaN,new,general,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6822125b6342bdaa1172398c,2025-05-12 15:23:07.850,2025-05-12 15:23:07.850,682200936342bdaa1172397a,6822017e6342bdaa1172397d,Sourav Ruj,sourav.rooj+77@klizos.com,NaN,new,general,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_companies = pd.read_csv("production_data/raw_data_dump/companies.csv")
df_companies.head()

,_id,name,organization_size,company_type,created_at,updated_at,is_deleted
0,681c861b1cf44d32fe03095e,Klizo Solutions,11-50,corporation,2025-05-08 10:23:23.615,2025-05-08 10:23:23.615,False
1,681c86b51cf44d32fe030963,Vietnam Australia International School,200+,corporation,2025-05-08 10:25:57.981,2025-05-08 10:25:57.981,False
2,681c872f1cf44d32fe03096d,Esco Beach,51-200,corporation,2025-05-08 10:27:59.721,2025-05-08 10:27:59.721,False
3,682200046342bdaa11723975,Furarma Resort Danang,200+,corporation,2025-05-12 14:04:52.549,2025-05-12 14:04:52.549,False
4,682200936342bdaa1172397a,Furama Resort Da Nang,200+,corporation,2025-05-12 14:07:15.794,2025-05-12 14:07:15.794,False

In [18]:
# df_job_hr_questions = pd.read_csv("production_data/raw_data_dump/job_hr_questions.csv")
# df_job_hr_questions.head()

In [20]:
# df_job_hr_settings = pd.read_csv("production_data/raw_data_dump/job_hr_settings.csv")
# df_job_hr_settings.head()

In [32]:
df_jobs = pd.read_csv("production_data/raw_data_dump/jobs.csv")
df_jobs.head(2)

,_id,title,job_id,tags,status,created_at,updated_at,is_deleted,company_id,location,address,job_post_name,role_description,experience,responsibilities,requirements,must_haves,nice_to_have,preferred_skills,job_mode,employment_type,non_technical_skills,technical_skills,selection_criteria.resume_shortlist_criteria,selection_criteria.screening_qualification_criteria,selection_criteria.final_interview_criteria,selection_progress.total_candidate_count,selection_progress.shortlisted_candidate_count,selection_progress.screening_qualified_count,selection_progress.final_interview_qualified_count,job_type
0,6819085351179958a6041971,AI Sales Manager,JOB-AS-250505,"['Sales', 'Saas']",closed,2025-05-05 18:49:48.696,2025-06-12 15:43:48.710,False,681c861b1cf44d32fe03095e,Vietnam,Vietnam,AI Sales Manager (2–5 Years),We’re looking for a high-energy AI Sales Manag...,2–5 Years,['Identify and qualify prospective business cl...,"['Strong Sales Ability', 'AI Curiosity', 'Crea...",[],[],"['Persuasive communication', 'Understanding of...",Remote,Full-time,[],[],60.0,60.0,60.0,0.0,0.0,0.0,0.0,NaN
1,68190c5c51179958a6041977,Human Resource Manager,JOB-HR-250505,"['Hr', 'Ai', 'Saas', 'Technology', 'Recruitment']",closed,2025-05-05 19:06:56.908,2025-06-12 09:23:57.898,False,681c861b1cf44d32fe03095e,Vietnam,Vietnam,Human Resource Manager (4–6 Years),"As Human Resource Manager, you'll play a strat...",4–6 years,['Lead end-to-end HR operations — from recruit...,"['4–6 years of HR experience, with at least 2+...",[],[],"['Strong experience in tech hiring', 'Familiar...",Remote,Full-time,[],[],0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [33]:
# df_messages = pd.read_csv("production_data/raw_data_dump/messages.csv")
# df_messages.head()

In [34]:
df_questions = pd.read_csv("production_data/raw_data_dump/questions.csv")
df_questions.head(2)

,_id,priority,job_id,company_id,question,follow_up_count,created_at,updated_at,position,question.question,question_type,questions
0,6819089451179958a6041972,1.0,6819085351179958a6041971,681c861b1cf44d32fe03095e,Can you describe a project where you successfu...,3.0,2025-05-05 18:51:00.418,2025-05-06 10:17:36.946,1.0,NaN,NaN,NaN
1,6819089451179958a6041973,2.0,6819085351179958a6041971,681c861b1cf44d32fe03095e,"How do you stay updated on AI trends, and can ...",2.0,2025-05-05 18:51:00.418,2025-05-06 10:17:36.946,2.0,NaN,NaN,NaN

In [35]:
df_users = pd.read_csv("production_data/raw_data_dump/users.csv")
df_users.head()

,_id,firstname,lastname,email,password,created_at,updated_at,phone,job_role,status,role,company_id,social,account_state,auth_methods,google_id,social_mode,profile_pic_url,token_usage.gpt-4o-mini.input_token,token_usage.gpt-4o-mini.output_token,deleted,expireAt,linkedin_id
0,6818f8b61ec8f4553059c408,Subhadeep,Banerjee,subhadeep@klizos.com,$2b$12$LLaZuBdx5PILWNBn4O4t7OrS58VlQHHW0x69TeF...,2025-05-05 17:43:18.484,2025-06-10 16:54:25.485,NaN,Lead Software Engineer,active,owner,681c861b1cf44d32fe03095e,True,manual_google,"['manual', 'google']",106786127312041139932,google,https://talentsync-production.s3.us-east-2.ama...,1667.0,965.0,NaN,NaN,NaN
1,6818f9461ec8f4553059c40c,Joseph,Ricard,joey@klizos.com,$2b$12$AVyPehV2O5S6mPDcq10DJelhTUERQXHS7T4Wj.i...,2025-05-05 17:45:42.541,2025-05-29 13:51:08.435,19546040324,NaN,active,admin,681c861b1cf44d32fe03095e,True,manual_google,"['manual', 'google']",110863197786455303728,google,NaN,1098932.0,346911.0,NaN,NaN,NaN
2,6818f9601ec8f4553059c40e,Supriyo,Mondal,smondal@klizos.com,$2b$12$XiU4SC.nLQjTUfCV8VgkEOhIvQhi96p.0EXrjUq...,2025-05-05 17:46:08.148,2025-06-17 06:55:42.465,78945 6123,NaN,active,owner,681c861b1cf44d32fe03095e,True,manual_google,"['manual', 'google']",114641160578733911690,google,https://talentsync-production.s3.us-east-2.ama...,171288.0,67579.0,NaN,NaN,NaN
3,6818f9811ec8f4553059c410,Henry,Greeff,henry@klizos.com,$2b$12$nYub1OPtDknzlMTKIIW5k.EwnBqjyGchA.w9Q3i...,2025-05-05 17:46:41.067,2025-05-28 04:23:41.658,NaN,NaN,active,admin,681c861b1cf44d32fe03095e,True,manual_google,"['manual', 'google']",108130911261054715693,google,NaN,1143037.0,309303.0,NaN,NaN,NaN
4,6819ea8a51179958a604199d,Nirmallya,Koner,nirmallya@klizos.com,$2b$12$M1d01hGMKvqae1XGOsfpNuJsZ72frQudkP.vx.H...,2025-05-06 10:55:06.592,2025-06-12 16:07:15.458,NaN,NaN,inactive,admin,681c861b1cf44d32fe03095e,False,manual_only,['manual'],NaN,NaN,https://talentsync-production.s3.us-east-2.ama...,8693.0,2018.0,True,NaN,NaN

In [ ]:
req_collections = [
    'candidate_questions', 'candidates', 'jobs', 'questions', 'users', 'companies', 'batches'
]

In [36]:
df_companies = pd.read_csv("production_data/raw_data_dump/companies.csv")
df_companies.columns

Index(['_id', 'name', 'organization_size', 'company_type', 'created_at',
       'updated_at', 'is_deleted'],
      dtype='object')

In [37]:
df_users = pd.read_csv("production_data/raw_data_dump/users.csv")
df_users.columns

Index(['_id', 'firstname', 'lastname', 'email', 'password', 'created_at',
       'updated_at', 'phone', 'job_role', 'status', 'role', 'company_id',
       'social', 'account_state', 'auth_methods', 'google_id', 'social_mode',
       'profile_pic_url', 'token_usage.gpt-4o-mini.input_token',
       'token_usage.gpt-4o-mini.output_token', 'deleted', 'expireAt',
       'linkedin_id'],
      dtype='object')

In [38]:
df_jobs = pd.read_csv("production_data/raw_data_dump/jobs.csv")
df_jobs.columns

Index(['_id', 'title', 'job_id', 'tags', 'status', 'created_at', 'updated_at',
       'is_deleted', 'company_id', 'location', 'address', 'job_post_name',
       'role_description', 'experience', 'responsibilities', 'requirements',
       'must_haves', 'nice_to_have', 'preferred_skills', 'job_mode',
       'employment_type', 'non_technical_skills', 'technical_skills',
       'selection_criteria.resume_shortlist_criteria',
       'selection_criteria.screening_qualification_criteria',
       'selection_criteria.final_interview_criteria',
       'selection_progress.total_candidate_count',
       'selection_progress.shortlisted_candidate_count',
       'selection_progress.screening_qualified_count',
       'selection_progress.final_interview_qualified_count', 'job_type'],
      dtype='object')

In [43]:
df_batches = pd.read_csv("production_data/raw_data_dump/batches.csv")
df_batches.columns

Index(['_id', 'uploaded_by', 'company_id', 'batch_id', 'batch_name',
       'upload_count', 'job_id', 'status', 'start_time', 'end_time', 'type'],
      dtype='object')

In [46]:
df_batches['type'].value_counts()

type
bulk      49
single    16
Name: count, dtype: int64

In [39]:
df_candidates = pd.read_csv("production_data/raw_data_dump/candidates.csv")
df_candidates.columns

Index(['_id', 'created_at', 'updated_at', 'company_id', 'job_id', 'name',
       'email', 'phone_no', 'status', 'type', 'secondary_email',
       'primary_phone', 'secondary_phone', 'cv_directory_link', 'unique_id',
       'designation', 'location', 'education', 'work_experience',
       'total_experience', 'technical_skills', 'soft_skills', 'languages',
       'certifications', 'projects', 'batch_id',
       'personal_details.date_of_birth', 'personal_details.age',
       'personal_details.gender', 'social_profiles.github',
       'social_profiles.linkedin', 'social_profiles.twitter',
       'social_profiles.leetcode', 'social_profiles.others', 'metadata.pages',
       'metadata.file_size_kb', 'metadata.file_type', 'metadata.word_count',
       'metadata.personal_pronoun_count', 'metadata.reading_level',
       'metadata.vocabulary_level', 'metadata.frequent_words',
       'compatibility_analysis.overall_score',
       'compatibility_analysis.analysis.strengths',
       'compatibility_analysis.analysis.gaps',
       'compatibility_analysis.analysis.matching_points',
       'compatibility_analysis.analysis.improvement_areas',
       'compatibility_analysis.detailed_scoring.skills_match',
       'compatibility_analysis.detailed_scoring.experience_relevance',
       'compatibility_analysis.detailed_scoring.education_fit',
       'compatibility_analysis.detailed_scoring.overall_potential',
       'ats_analysis.ats_score',
       'ats_analysis.skills_summary.measurable_achievements',
       'ats_analysis.skills_summary.hard_skills',
       'ats_analysis.skills_summary.soft_skills',
       'ats_analysis.skills_summary.skills_efficiency_score',
       'ats_analysis.red_flags', 'ats_analysis.recommendations',
       'progress.round_1', 'progress.round_2'],
      dtype='object')

In [40]:
df_candidate_questions = pd.read_csv("production_data/raw_data_dump/candidate_questions.csv")
df_candidate_questions.columns

Index(['_id', 'candidate_id', 'questions', 'created_at', 'updated_at'], dtype='object')